.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  justify-content: space-between;
  min-width: 70%;
  max-height: 90%;
  margin-top: 50px;
  font-size: large;
  font-family: "Libre Baskerville", serif;
  align-content: stretch;
}

.searchbar{
  grid-column: 1/-1;
  margin: 10px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  height: 25px;
  max-height: 25px;
}

.searchbar input[name="search"]:focus{
  outline: none;
}

.container > div {
  border: solid rgb(67, 113, 181) 3px;
  border-radius: 5px;
}

body{
  background-image: url('bookbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.logout{
  grid-row: 1;
  grid-column-start: 2;
  padding: 5px;
  margin: 10px;  
  justify-self: end; 
  display: flex; 
}

.cards{
  grid-row: 3;
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-items: center;
  padding: 5px;
  text-align: center;
  font-weight: 500;
  overflow-y: auto;
}

hr{
  color: rgb(67, 113, 181);
}

.title{
  font-weight: bold;
  color: rgb(92, 171, 183);
  
}

.books{
  display: block;
  font-weight: 700;
}

.row{
  display: flex;
  align-items: center;
}

.poster{
  max-width: 200px;
}

.bookName{
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

input[type="checkbox"]{
  border: solid orange 2px;
  border-radius: 50%;
}

button:hover{
  cursor: pointer;
  border: 3px solid rgb(92, 148, 203);
  border-radius: 5px;
}

#username{
  font-size: medium;
  margin-right: 5px;
}

