.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.infoForm{
  display: flex;
  flex-direction: column;
  min-height: 50%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
